oldest-supported-numpy

numpy<2.0.0
packaging
wheel

pandas

scipy

# see: https://github.com/cython/cython/commit/afc00fc3ba5d43c67151c0039847a526e7b627a5
cython==0.29.33
requests>=2.4.0
cloudpickle>=1.5.0
